h1{
    text-align: center;
    color: aqua;
}


#inputs{
    text-align: center;
    color: aqua;
    margin-top: 20px;
    margin-bottom: 20px;
}

p{
    text-align: center;
    color: green;
    font-size: 20px;
}